<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip https://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">

	<context:property-placeholder />

	<!-- Bean 선언 -->
	<bean id="fileSendReady"
		class="org.ksj.server.file.agent.server.service.ServerFileSendReady" />
		
	<bean id="fileReceive" class="org.ksj.server.file.agent.server.service.ServerFileReceive" />

	<bean id="testServiceActivator"
		class="org.ksj.server.file.agent.server.activator.ServerServiceActivator">
		<property name="fileSendReady" ref="fileSendReady" />
		<property name="fileReceive" ref="fileReceive" />
	</bean>
	
	<bean id="tcpClient" class="org.ksj.server.file.agent.client.TcpClient">
		<property name="tcpClientInt" ref="tcpClientGateway"></property>
	</bean>
	
	<bean id="clientService" class="org.ksj.server.file.agent.client.service.ClientService">
		<property name="client" ref="tcpClient"></property>
	</bean>
	
	<bean id="byteArrayLengthHeaderSerializer" class="org.ksj.server.file.agent.framework.ByteArrayLengthHeaderSerializer">
		<property name="headerSize" value="8"></property>
		<property name="maxMessageSize" value="99999999" />
	</bean>
	 
</beans>