<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:int-ip="http://www.springframework.org/schema/integration/ip"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/integration https://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/integration/ip https://www.springframework.org/schema/integration/ip/spring-integration-ip.xsd">
	<!-- Spring Integration 설정 -->
	<int:channel id="tcpChannel" />
	<int:channel id="replyChannel" />

	<int-ip:tcp-inbound-gateway id="inGateway"
		request-channel="tcpChannel" reply-channel="replyChannel"
		connection-factory="server" reply-timeout="10000" />


	<int-ip:tcp-connection-factory
		id="server" 
		type="server" 
		port="${server.port:9000}" 
    	serializer="byteArrayLengthHeaderSerializer"
    	deserializer="byteArrayLengthHeaderSerializer"
    	so-send-buffer-size="99999999"
    	so-receive-buffer-size="99999999"
    	so-timeout=""
   	/>
    	

	<int:service-activator id="tServiceActivator"
		input-channel="tcpChannel" output-channel="replyChannel" method="echo"
		ref="testServiceActivator" />


</beans>